{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>关于我</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          大家好，我是杨瑞祥，拥有8年的丰富工作经验，在IT运维和创意设计领域有着深入的专研。我精通机房管理、弱电系统、电脑支持，并且熟练使用5D、PS、AI等设计工具。我的技术能力不仅限于此，我还擅长运用Python库如Selenium与Requests开发自动化脚本进行压力测试与数据爬取，以支持业务的稳定运行。
        </p>
        <p>
          在我的职业生涯中，我曾担任过北洋信息科技的自动化测试工程师，鸿盛设计的设计师，万通镇人民镇府的行政专员/助理以及中牟县消防教援大队的通讯工程师。这些经历不仅锻炼了我的专业技能，也增强了我在团队合作和项目管理方面的能力。我对细节的关注和对新技术的快速学习能力，使我能够在不断变化的工作环境中保持高效和创新。
        </p>
        <p>
          我相信，通过不断学习和实践，我能够为团队带来新的视角和解决方案，共同推动项目的成功。期待有机会与您合作，共同实现更多的可能。
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}