<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>内容</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="wrapper">
        <div class="top">
            <div class="title">
                <h1>Blog</h1>
            </div>
        </div>
        <div class="content">
            <div class="card">
                {%for _ in cc :%}
                {%if _['id'] == ids:%}
                <h2>{{_['title']}}</h2>
                <p>{{_['content']}}</p>
                {%endif%}
                {%endfor%}
            </div>

        </div>
    </div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>

</html>