{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>技能</h1>
                    <span class="subheading">了解.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>技术栈比较宽泛，基本掌握html、css、js的使用，熟练使用python基本库及flask、pandas、sleuim、resepans库，参加dfl换脸项目的制作，基本掌握ai、pr、ae等流媒体处理工具，熟练掌握ps、sdAI绘图等工具。
                </p>
                <p>基本掌握网工知识，熟练配置网络交换机、路由器，能做到独自巡线查线，故障排查、维修保养。</p>
                <p>熟练掌握电脑硬件知识，可以对电脑进行维修、保养，对电脑系统维护、搭建内网服务器、文件共享、内网打印机等。</p>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}