<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>杨年轻</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="../static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>我是 杨年轻.</h1>
      <h2>一个 <span class="pro">程序</span>员.</h2>
    </div>
    <img class="bottom-cloud" src="../static/cloud.png" alt="cloud">
    <img class="mountain" src="../static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="../static/ccsd.png" alt="angela-profile-img" width="180">
      <h2>Hello.</h2>
      <p class="intro">我擅长后端数据开发和网络爬虫. 我喜欢音乐. 我喜欢宅在家里一动不动！</p>
    </div>
    <hr>
    <div class="skills">
      <h2>我的技能.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>成长路</h3>
        <p>我喜欢电子游戏，喜欢探究电子游戏的构成，另外我不喜欢做无意义的事情，例如机械化的工作，
          我愿意用两倍的时间来编写程序来为我工作，也不愿意去做一件重复的事情.所以我学习了python。</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="../static/chillies.png" alt="chillies-img">

        <h3>碎嘴子</h3>
        <p>实际我有很多不太深刻的知识面，例如平面设计，视频剪辑，音乐，绘画，但是他们还是对我的职业生涯有很大的帮助。</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>联系 我</h2>
      <h3>如果你我有共同之处.</h3>
      <p class="contact-message">喜欢做有意义的事情，愿意与我互相扶持成长</p>
      <a class="btn" href="mailto:ilove@hotwings.com">联系我 ！</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/angela-yu-963a584b/">QQ</a>
    <a class="footer-link" href="https://twitter.com/yu_angela">微信</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2019 Angela Yu @ The App Brewery.</p>
  </div>
</body>

</html>